.modailInput {
    margin-top: 16px;
    .inpute {
        background: #2D303E;
        border: 1px solid #393C49;
        box-sizing: border-box;
        border-radius: 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #E0E6E9;
        padding: 14px;
        width: 100%;
        margin-top: 8px;
    }

    .text-input {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #FFFFFF;

    }
}
