.card-button {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    flex-wrap: wrap;
}

.modal-payment {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #393C49;
    padding-bottom: 16px;

    .modailInput {
        margin-left: 12px;
    }
    
    .inpute {
        width: 95% !important;
    }
    
}


.modal-payment1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;

    .modailInput {
        margin-left: 12px;
    }
    
    .inpute {
        width: 95% !important;
    }
    
}

.modal-btn {
    display: flex;
    .btn {
        width: 50%;
    }
    
}

.modal {
    width: 30%;
    position: absolute;
    background: #1F1D2B;
    border-radius: 16px 16px 0px 16px;
    height: 100%;
    padding: 24px;
    top: 0;
    bottom: 0;
    right: -100%;
    transition: all ease 0.5s;

    &.activ {
        right: 0;
    }

}

.modal-text {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
}

.modal-mini-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #ABBBC2;
    margin-top: 8px;
    padding-bottom: 49px;
    border-bottom: 1px solid #393C49;
}