body {
    margin: 0;
    padding: 0;
    background-color: #252836;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    max-width: 1140px;
}

.App {
    display: flex;
    // justify-content: space-between;
}

button {
    cursor: pointer;
}